# Byte-compiled / cache
__pycache__/
*.py[cod]
*.sqlite3

# Virtual environment
venv/
env/

# Django stuff
*.log
db.sqlite3

# VS Code settings
.vscode/

# Mac system files
.DS_Store

# Static files (collected)
staticfiles/

# Environment variables
.env
