{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}My Django Site{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'hello/css/styles.css' %}">
</head>
<body>
    <nav>
        <a href="/hello/">Home</a> |
        {% if user.is_authenticated %}
        <a href="/hello/profile/">Profile</a>
        <a href="/hello/logout/">Logout</a>
        {% else %}
        <a href="/hello/login/">Login</a>
        <a href="/hello/signup/">Sign Up</a>
        {% endif %}
    </nav>

    <hr>

    <div class = "centered">
        <main> 
            {% block content %}
            {% endblock %}
        </main>
        
    </div>

    <hr>

    <footer>
        &copy; 2025 My Django Site
    </footer>
</body>
</html>




{% comment %} {% extends "hello/base.html" %}

{% block title %} {% endblock %}

{% block content %}

{% endblock %} {% endcomment %}